.cart-container {
  margin-top: 30px;
}

.title {
  margin-bottom: 50px;

  font-size: 30px;
  font-weight: bold;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 100px;

  .order-item-count {
    margin-bottom: 10px;
  }

  .invoice-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 600px;
    margin-top: 30px;

    .poke-info-container {
      display: flex;

      & + & {
        border-top: 1px solid lightgray;
        margin-top: 20px;
        padding-top: 20px;
      }

      .poke-image {
        width: 100px;
        height: 100px;
        border-radius: 5px;
      }

      .poke-info {
        display: flex;
        justify-content: space-between;

        width: 100%;
        margin-left: 10px;

        .info-list {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .additional-list {
            display: flex;
            flex-direction: column;
            gap: 10px;

            width: 400px;

            .additional-info {
              display: grid;
              grid-template-columns: 2fr 1fr;

              color: rgb(143, 143, 143);

              .additional-title {
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }

  .add-more-items-btn {
    cursor: pointer;

    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 40px;

    text-align: center;

    &:hover {
      background-color: rgb(232, 232, 232);
    }
  }

  .pickup-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;

    .pickup-info-image {
      margin-right: 10px;
    }
  }

  .final-step {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 30px;

    .amount-step {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .pay-button {
      background-color: rgb(33, 33, 33);
      margin-top: 20px;
      padding: 10px;
      border-radius: 40px;

      color: white;
    }
  }
}
