.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content h5 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 7%;
}

.modal-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.modal-header button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-left: auto;
}

.modal-body label {
  display: block;
  padding: 1% 1% 3% 7%;
}

.modal-body label input[type="checkbox"] {
  margin-right: 8px;
}

.surveyBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.surveyBtn {
  background-color: pink;
  color: white;
  font-size: 2rem;
  width: 50vw;
  height: 20vh;
  padding: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 1%;
  text-align: center;
}

.surveyBtn:hover {
  background-color: purple;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.surveyLabel {
  font-size: 1.1rem;
  font-weight: bold;
}

.recomPoke {
  padding: 20px;
  background-color: rgb(218, 241, 255);
  border-radius: 8px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recomPoke p {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(0, 0, 75);
}